	html,body {
      height:100%;
      width:100%;
      margin:0;
      padding:0;
    }

    body {
      background-color:#fff;
      overflow:hidden;
      font-family:Kimberley, sans-serif;
    }
	
	#topbar{
	  -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
      padding-top:8px;
	  padding-bottom:8px;
      padding-right:10px;
      background-color:#a6bddb;
      color:#fff;
      font-size:14pt;
      text-align:center;
      font-weight:700;
      border:solid 2px #fff;
      height:10%;
      margin:1px;
	  -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px #888;
      box-shadow: 0 0 5px #888;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #fff;
	}
	
	#mainImageUTBIOME{
	height:82%;
	-moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px #888;
      box-shadow: 0 0 5px #888;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #fff;
	}
	
	
	#footer{
	background-color:#a6bddb;
	height: 3%;
	-moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px #888;
      box-shadow: 0 0 5px #888;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #fff;
	}